<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Crossjoin Analytics</title>
  <meta name="description" content="Crossjoin Analytics Dashboard">
  <meta name="author" content="Matthew Lam">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" />
  <link rel="stylesheet" href="main.css" />
  <script src="main.js"></script>
</head>

<body>
    <div class="ui container" style='padding-top: 200px !important;'>
      DASHBOARDD
    </div>
</body>
</html>