<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">

    <title>Crossjoin Analytics</title>
    <meta name="description" content="Crossjoin Analytics Dashboard">
    <meta name="author" content="Matthew Lam">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" />
    <link rel="stylesheet" href="main.css" />
    <script src="main.js"></script>

    <!-- G charts -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>

<body>
    <div class="ui container" style='padding-top: 50px !important;'>
        <div class="ui grid">
            <div class="four wide column">
                <img class="ui medium image" src='logo.png'>
            </div>
            <div class="twelve wide column">
                <br>
                <div class="ui form">
                    <label>Lookback Window Parameters</label>
                    <div class="fields">

                        <div class="field">
                            <label># Years ago</label>
                            <input type="number" id="years" value="1">
                        </div>

                        <div class="field">
                            <label># Months ago</label>
                            <input type="number" id="months" value="0">
                        </div>

                        <div class="field">
                            <label># Days ago</label>
                            <input type="number" id="days" value="0">
                        </div>

                        <div class="field">
                            <label>Limit</label>
                            <input type="number" id="limit" value="100">
                        </div>

                        <div class="field">
                            <label><a href="/logout">logout</a></label> 
                            <button class="ui button" onclick="ranking()">Submit</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="ui grid">
            <div class="ui inverted dimmer" id="loading-dimmer">
                <div class="ui text loader">Loading</div>
              </div>
            <div class="eight wide column">
                <div id="v-graph"></div>
            </div>
            <div class="eight wide column">
                <div id="a-graph"></div>
            </div>

            <div class="sixteen wide column">
                <table class="ui celled table">
                    <thead>
                        <tr>
                            <th>Symbol</th>
                            <th>Company</th>
                            <th>Type</th>
                            <th>Region</th>
                            <th>Currency</th>
                            <th>Volatility</th>
                        </tr>
                    </thead>
                    <tbody id="ranking-table"></tbody>
                </table>
            </div>
            
        </div>
    </div>
</body>

</html>