<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Crossjoin Analytics</title>
  <meta name="description" content="Crossjoin Analytics Dashboard">
  <meta name="author" content="Matthew Lam">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" />
</head>

<body>
    <div class="ui container" style='padding-top: 200px !important;'>
      <h1 class="ui center aligned header">Hedge Master</h1>
      <h4 class="ui center aligned header">Live analytics for long straddles.</h4>
      <h4 class="ui center aligned header">
        <a href="/login"><div class='ui button'>login</div></a>
      </h4>
    </div>
</body>
</html>